/* 공통 스타일 */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}


/* 웹킷 기반 브라우저에서 스크롤바 숨기기 */
.image-container::-webkit-scrollbar {
    display: none; /* 스크롤바 숨기기 */
}


